@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  @apply font-sans dark:font-light;
}

@layer utilities {
  .space-children-2 > * {
    @apply mt-2 first:mt-0;
  }
}

@layer base {
  .mdx {
    @apply tracking-[0.01em];

    & > * {
      @apply mt-4 first:mt-0;
    }

    h1 {
      @apply text-3xl font-extrabold md:text-4xl;
    }

    h2 {
      @apply text-2xl font-bold md:text-3xl;
    }

    h3 {
      @apply text-xl font-semibold md:text-2xl;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply pt-[0.5em] font-display tracking-[-0.01em] first:pt-0;
    }

    a {
      @apply underline hover:text-gray-600 dark:font-normal dark:hover:text-gray-300;
    }

    em,
    em a {
      @apply dark:font-normal;
    }

    strong,
    strong a {
      @apply dark:font-bold;
    }

    code {
      @apply rounded-md px-1 font-mono ring-1 ring-gray-300 [font-variant-ligatures:none] dark:font-normal dark:ring-gray-700;
    }

    pre {
      @apply overflow-x-auto rounded-md ring-1 ring-gray-300 dark:ring-gray-700;

      & > code {
        @apply block px-4 py-[1em] ring-0 transition-colors;

        * {
          @apply transition-colors;
        }
      }
    }

    img {
      @apply max-h-[52rem];
    }

    ul,
    ol {
      & > * {
        @apply mt-1 first:mt-0;
      }

      ul,
      ol {
        @apply mb-2 mt-1;
      }
    }

    ul > li {
      @apply ml-[1.25em];
      counter-increment: list-increment;
      &::before {
        content: '-';
        @apply absolute -ml-[1em] mr-2 block;
      }
    }

    ol > li {
      counter-increment: list-increment;
      &::before {
        content: counter(list-increment) '. ';
      }
    }
  }
}
